.card__container {
  height: 254px;
  width: 358px;
  margin-bottom: 10px;
}
.card__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}

.card__content {
  display: flex;
}

.card__content img {
  margin-right: 5px;
}

@media screen and (min-width: 350px) and (max-width: 450px) {
  .card__container {
    min-width: 200px;
    min-height: 155px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
