button {
    margin: 10px 0 10px 0
}
.content_container {
    height: 400px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
}

.login_btn {
    padding: 1rem;
    margin: 15px 0 15px 0;
}

@media screen and (min-width: 350px) and (max-width: 450px) {
 .login_btn {
   width: 350px;
   height: 55px;
   border: 0.5px solid #ADADAD;
   background-color: #FFFFFF;;
}
}