button {
    margin: 10px 0 10px 0
}
.content_container {
    height: 400px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
}

.login_btn {
    padding: 1rem;
    margin: 15px 0 15px 0;
}