:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 20px;
  --ion-safe-area-left: 10px;
  --ion-safe-area-right: 10px;
  /* Colors */
  --primary-color: "#FF3537";
  --primary-color-hover: rgb(255, 53, 55, 0.5);
  --primary-color-active: rgb(255, 53, 55, 0.8);

  --secondary-color: "#101012";
  --gray-palette-300: "#E7E7E7";
  --gray-palette-200: "F5F5F6";
  --gray-palette-100: "#FFFFFF";

  --gray-palette-transparent: rgb(16, 16, 18, 0.9);
  --gray-palette-transparent-active: rgb(16, 16, 18, 0.5);
  --gray-palette-transparent-hover: rgb(16, 16, 18, 0.15);

  --success--safety: rgb(35, 197, 82, 1);
  --info--safety: rgb(52, 120, 246, 1);

 
}
/* html {

} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.swiper-pagination-bullet-active {
  background-color: #FF3537 !important;
}
 @font-face {
    font-family: 'F37Ginger';
    src: url('./assets//fonts/F37Ginger-Regular.ttf')format("truetype")
  }

   @font-face {
    font-family: 'F37Judge';
    src: url('./assets//fonts/F37Judge-Regular.ttf')format("truetype");
  }

   @font-face {
    font-family: 'F37GingerItalic';
    src: url('./assets//fonts/F37Ginger-Italic.ttf')format("truetype");
  }

   @font-face {
    font-family: 'F37JudgeBold';
    src: url('./assets//fonts/F37Judge-Bold.ttf')format("truetype");
  }

 